trash.py
venv/
__pycache__/
db.sqlite3
mybase.db
app.py
indication/mybase.db
indication/logic.py
song_library.db
utils.py
Dockerfile
Docker-compose.yml
db.db
.vscode/
models.py
launch.json
views.py
dab.db
admin/
task.md
regex.py